@import url("https://fonts.googleapis.com/css?family=Lora:700|Roboto&display=swap");
:root {
  --accent-border: #b8ab9d;
  --accent-shape: #ded4ca;
  --accent-text: #453929;
  --gray-line: #7e7e7e;
  --footer-bg: #2e2e2e;
  --footer-text: #ded4ca;
  --section-bg: #efe9e4;
  --mainWhite: #ffffff;
  --mainBlack: #0000000;
}

body {
  background-color: var(--mainWhite);
  color: var(--mainBlack);
  font-family: "Roboto", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  letter-spacing: 0.25rem !important;
}

a,
p,
span {
  font-family: "Roboto", monospace;
}

.textWhite {
  color: var(--mainWhite);
}

.textBlack {
  color: var(--mainBlack);
}

.cart-icon {
  cursor: pointer;
  color: var(--accent-text);
  opacity: 1;
  font-size: 2rem;
  transition: 0.15s opacity ease-in-out, 0.2s outline ease-in-out;
}

.cart-icon:hover {
  opacity: 0.8;
}

.navbar-brand,
a,
li {
  transition: 0.2s outline ease-in-out;
}
